#projects {
    display: flex;
    flex-wrap: wrap;
}

[data-theme="flashlight"] #projects .card {
    border: 2px solid black;
}

#projects .card {
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    background: linear-gradient(45deg, var(--c1), var(--c2));
    transition: --c1 0.3s, --c2 0.3s;
    cursor: pointer;
}

#projects .card:hover {
    --c1: var(--c1l);
    --c2: var(--c2l);
}

#projects .card #title_img {
    border-radius: 4px 4px 0 0px;
    transition: filter 0.3s;
    filter: grayscale(1);
    width: 100%;
}

#projects .card:hover #title_img {
    filter: grayscale(0);
}

#projects .card .container {
    margin: 10px;
}

#projects .card #year {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
}
#projects .card h4 {
    margin-bottom: 0;
	font-weight: bold;
	color: var(--heading);
}
#projects .card #year {
	color: var(--heading);
}
