@import url('https://fonts.googleapis.com/css2?family=Asar&display=swap');


* {
    font-family: 'Asar', serif;
}



body {
    margin: 0;
    padding: 0;
  }
.navbar {
    background-color: #e5e5e5;
    height: 180px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav {
    float: right;
    margin: 0;
  }
  
  li {
    display: inline;
    padding: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #353535;
    display: inline-block;
    padding-top: 15px;
  }
  
  nav a:hover {
    color: #00b2b2;
  }
  
  nav a:active {
    font-weight: bold;
  }
  

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 30px 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
a {
    text-decoration: none;
    color: #353535;
    display: inline-block;
    padding-top: 15px;
  }
