#sub_nav {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 3px;
}

#sub_nav a, #admin_tab {
    flex: 1;
    background-color: white;
    text-align: center;
    color: var(--c1);
    -webkit-text-fill-color: #232369; 
	-webkit-opacity: 1;
    text-decoration: none;
}

#admin_tab {
	margin-top: 3px;
    display: flex;
    width: 100%;
	justify-content: center;
}


#addRound {
    margin-top: 8px;
}

#addRound input {
	font-size: 16px;
	margin: 3px;
}

#addRound button {
    font-size: 20px;
}

#addRound button:disabled {
    background-color: #bcbcbc;
	cursor: default;
}

#cur {
    margin-top: 50px;
    width: 100%;
    overflow-x: scroll;
}

button, #downloadBtn {
    background-color: white;
    text-align: center;
    color: var(--c1);
	-webkit-text-fill-color: #232369; 
	-webkit-opacity: 1;
    cursor: pointer;
    border: none;
	padding: 4px;
}

#addRoundBtn, #downloadBtn {
	margin-top: 50px;
}

#full {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    width: 100%;
	max-width: fit-content;
    max-height: calc(100vh - 270px);
    overflow-x: scroll;
    overflow-y: scroll;
    touch-action: manipulation;
}

#full th {
    position: sticky;
    top: 0;
    z-index: 1;
    border: 1px solid #ddd;
}

#dateSel {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

td, th {
    text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: 15px;
    padding: 7px;
}
th {
    background-color: var(--c1);
}
td {
    border-top: 2px solid white;
	white-space: nowrap;

}

.barChart {
    width: 450px;
    height: auto;
}

.barChart, .graph, .graph > canvas, .graph > img {
    max-width: 100%;
    overflow-x: scroll;
	user-select: none;
}

.graph {
	display: inline-block;
	position: relative;
	width: 450px;
	height: 300px;
	overflow: hidden;
}

.graph > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a {
	color: #f1f1f1;
}


.popUp {
    background: linear-gradient(180deg, #f1f1f1 0%, #ffffff 100%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px 0 #000000;
    padding: 10px;
    z-index: 20;
    color: var(--c1);
}

.popUp button {
    color: white;
    background-color: var(--c1);
    margin: 5px;
	-webkit-text-fill-color: #ffffff; 
	-webkit-opacity: 1;
}
.popUp input {
    background-color: var(--c1);
    color: white;
	-webkit-text-fill-color: #ffffff; 
	-webkit-opacity: 1;
}

#downloadBtn {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

#pointSources {
	display: flex;
	flex-wrap: wrap;
}

#pointSources > div {
	background-color: #fff;
	border-radius: 5px;
	margin: 20px;
	padding: 15px;
}
#pointSources > div > div {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

#pointSources td, #pointSources h4, #pointSources h5 {
	color: #000000;
}

#ham-menu {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 10;
	background-color: #232369;
	border-radius: 4px;
}

#ham-menu img {
	height: 40px;
	display: block;
}

#contents {
	z-index: 10;
	position: fixed;
	bottom: 80px;
	right: 20px;
	background-color: white;
	padding: 20px;
	border-radius: 4px;
	max-height: calc(100vh - 140px);
	overflow-y: scroll;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: none;
}

#contents ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#contents a {
	text-decoration: none;
	color: #232369;
}

#contents li {
	color: black;
}
