#sub_nav {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 3px;
    border-radius: 4px;
}

#sub_nav a {
    flex: 1;
    background-color: white;
    text-align: center;
    color: var(--c1);
    text-decoration: none;
}


#addRound {
    margin-top: 50px;
}

#cur {
    margin-top: 50px;
    width: 100%;
    overflow-x: scroll;
}

button {
    background-color: white;
    text-align: center;
    color: var(--c1);
    margin-top: 50px;
    cursor: pointer;
    border: none;
}

#full {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    max-height: calc(100vh - 230px);
    overflow-x: scroll;
    overflow-y: scroll;
}

#full th {
    position: sticky;
    top: 0;
    z-index: 1;
    border: 1px solid #ddd;
}



td, th {
    text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: 20px;
    padding: 7px;
}
th {
    background-color: var(--c1);
}
td {
    border-top: 2px solid white;
}
