@import url('https://fonts.googleapis.com/css2?family=Asar&display=swap');

* {
    font-family: 'Asar', serif;
}

body {
    margin: 0;
    padding: 0;
  }

#headline {
    text-align: center;
    color:blanchedalmond;
    font-size: 32px;
}
html {
    background-color: blue;
}
#headlinebutton {
    border: 0px;
    background-color: aquamarine;
    color: chocolate;
    font-size: 32px;
    text-align: center;
    width: 1000000000px;
    max-width: 1000000000px;
    height: 75
    

}
#headlinebutton:hover {
    background-color: chocolate;
    color: aquamarine;
    font-style: oblique;
    font-weight: bold;
}

.navbar {
    background-color: #e5e5e5;
    height: 180px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav {
    float: right;
    margin: 0;
  }
  
  li {
    display: inline;
    padding: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #353535;
    display: inline-block;
    padding-top: 15px;
  }
  
  nav a:hover {
    color: #00b2b2;
  }
  
  nav a:active {
    font-weight: bold;
  }

